#one{
    height: 10px;
    width: 10;
}
.btn{
    margin-top: 23px;

}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    font-size: 20px;
}

body{
    background-color:blanchedalmond;
}
.jumbotron{
margin-top: 10%; 
position: relative;
}
span{
    margin-left: -24%;
    margin-top: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}